
/* variables for color */
:root {
    --dark: #1A1A1D;
    --lidark: rgba(78,78,80, 0.5);
    --darkred: rgba(111, 34, 50, 100);
    --midred: #950740;
    --lired: #C3073F;

}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border-radius: 8px;
    color: white;
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    gap: 30px;
}

/* creates header with transparent border */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    background-color: var(--darkred);
    align-self: center;
    max-width: 1000px;
}

/* provides style to title box*/
header h1 { 
    text-align: center;
    font-size: 40px;
    text-shadow: 10px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    background-color: rgba(5, 3, 17, 0.304);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 30px;
    padding-bottom: 50px;
    margin-left: 10px;
    
}

header img {
    backdrop-filter: blur(20px);
    background-color: rgba(5, 3, 17, 0.304);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(255, 255, 255, 0.3);
    margin-bottom: -50px;
}

header nav {
    display: flex;
    gap: 10px;
    justify-self: center;
    align-self: flex-end;
    flex-direction: row;
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

nav a {
    font-size: 11px;
    letter-spacing: 1px;
    backdrop-filter: blur(20px);
    background-color: rgba(5, 3, 17, 0.304);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    min-width: 50px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    background-color: var(--lidark);
    padding: 20px;
    border-radius: 0px;
    border-left:  4px solid var(--lired);
}

aside a h4 {
    text-align: center;
    min-width: 100px;
}

button {
    background-color: var(--midred);
}

footer {
    display: flex;
    align-self: center;
}

.title {
    background-color: var(--darkred);
    padding-right: 30px;
}

.about {
    display: flex;
    align-self: center;
    max-width: 800px;
}


.work {
    display: flex;
    align-self: center;
    max-width: 800px;
}


.recent {
    width: 80%; 
    height: 40%; 
    object-fit: cover; 
    padding: 5px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    backdrop-filter: blur(20px);
    background-color: var(--darkred);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.recent:hover {
    opacity: 0.3;
  }


.notrecent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
}

.notrecent a img {
    height: 40%;
    width: 80%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    backdrop-filter: blur(20px);
    background-color: var(--darkred);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(255, 255, 255, 0.3);
  }

  .notrecent a img:hover {
    opacity: 0.3;
  }


.contact {
    display: flex;
    align-self: center;
    max-width: 800px;
}

.contact section {
    max-width: 800px
}


