
/* variables for color */
:root {
    --dark: #1A1A1D;
    --lidark: rgba(78,78,80, 0.5);
    --darkred: rgba(111, 34, 50, 100);
    --midred: #950740;
    --lired: #C3073F;

}

/* adds global font styling and global rounded edges */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

/* creates column flex container. applies color and gap to body. */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    gap: 30px;
}

/* header becomes flex container. applies spaces to contents. wraps contents. applies styling  */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    background-color: var(--darkred);
    align-self: center;
}

/* provides style to text in title box*/
header h1 { 
    text-align: center;
    font-size: 40px;
    text-shadow: 10px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    background-color: rgba(5, 3, 17, 0.304);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 30px;
    padding-bottom: 50px;
    margin-left: 10px;
    
}

/* provides style to image in title box */
header img {
    backdrop-filter: blur(20px);
    background-color: rgba(5, 3, 17, 0.304);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(255, 255, 255, 0.3);
    margin-bottom: -50px;
}

/* creates flex container for nav. generates positioning for nav */
header nav {
    display: flex;
    gap: 10px;
    justify-self: center;
    align-self: flex-end;
    flex-direction: row;
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* adds style to nav menu buttons and positioning within nav flex container */
nav a {
    font-size: 11px;
    letter-spacing: 1px;
    backdrop-filter: blur(20px);
    background-color: rgba(5, 3, 17, 0.304);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    min-width: 50px;
    text-align: center;
}

/* creates a column flex container in main element with gap for positioning */
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*  creates style for all section elements along with positioning */
section {
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    background-color: var(--lidark);
    padding: 20px;
    border-radius: 0px;
    border-left:  4px solid var(--lired);
}


/* adds styling for names of sections to the left of the page */
aside a h4 {
    text-align: center;
    min-width: 100px;
}

/* adds global button color */
button {
    background-color: var(--midred);
}

/* creates a flex container in footer and aligned to center of the page */
footer {
    display: flex;
    align-self: center;
}

/* creates styling for title div within header */
.title {
    background-color: var(--darkred);
    padding-right: 30px;
}

/* flex container created in about div. adds positioning */
.about {
    display: flex;
    align-self: center;
    max-width: 800px;
}

/* flex container created in about div. adds positioning */
.work {
    display: flex;
    align-self: center;
    max-width: 800px;
}

/* positioning and sizing to recent project image  */
.recent {
    width: 80%; 
    height: 40%; 
    object-fit: cover; 
    padding: 5px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    backdrop-filter: blur(20px);
    background-color: var(--darkred);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

/* image fades when cursor hovers it */
.recent:hover {
    opacity: 0.3;
  }

  /* creates flex container.  */
.notrecent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
}


/* adds positioning, sizing and effects */
.notrecent a img {
    height: 40%;
    width: 80%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    backdrop-filter: blur(20px);
    background-color: var(--darkred);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 3px solid rgba(255, 255, 255, 0.3);
  }

/* image fades when cursor hovers over it */
  .notrecent a img:hover {
    opacity: 0.3;
  }

/* turns contact div to flex container. adds positioning and sizing */
.contact {
    display: flex;
    align-self: center;
    max-width: 800px;
}

/* adds max sizing to keep design */
.contact section {
    max-width: 800px
}


